html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #CAF0F8;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Header {
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    display: flex;
    min-height: 100%;
}
