.Header {
    background-color: #5680E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

.left-block {
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #8860D0;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s;
}

nav a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: white;

}


.myAccount {
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #8860D0;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s;
}
.myAccount,
.myAccount a {
    color: white;
}

.myAccount a {
    text-decoration: none;
}

.myAccount:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
